* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    margin-bottom: 50px;
}

.container {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

.headr-img {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 80%;
    right: 0;
    border: 5px solid #fff;
    border-radius: 50px;
    overflow: hidden;
    border-top-left-radius: 0;
}

.headr-img img {
    width: 488px;
}

/* Header seris style */
#header {
    background: #464646;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: 28px;
    margin-bottom: 20px;
}

.header-items {
    padding-top: 22px;
    display: block;

}

.header-items span {
    padding-left: 20px;
}

.header-item {
    font-weight: 400;
    padding-bottom: 12px;
}

.header-wrap__logs {
    display: flex;
    justify-content: space-between;
}

.header-logo__local {
    margin-left: 90px;
    text-align: center;
    margin-right: 20px;
}

.fa-solid {
    font-size: 36px;
    margin-bottom: 5px;
}

.header-logo__phon {
    text-align: center;
    margin-right: 60px;
}

.header-logo__phon img {
    font-size: 36px;
    width: 40px;
    color: #fff;
    cursor: pointer;
}

.header-logo__phon span {
    display: block;
    margin-top: 5px;
}

.header-logo__messng {
    text-align: center;
}

.header-logo__messng i {
    font-size: 36px;
    cursor: pointer;
}

.header-logo__messng a {
    margin-top: 5px;
}

.fa-brands {
    margin-bottom: 10px;
}

.header-messeng__email a {
    color: #Fff;
}

.header-messeng__email span {
    display: block;
}

.header-local__info i {
    display: block;
    text-align: center;
    cursor: pointer;
}

.header-local__info {
    width: 225px;
    margin-bottom: 16px;
}

.header-logo__instagram {
    text-align: center;
    margin-left: 44px;
}

.header-insta__go a {
    color: #Fff;
}

.header-logo__instagram i {
    cursor: pointer;
    font-size: 36px;
}

/* Mark seris stayle */
.mark-wrap {

    display: flex;
    justify-content: space-between;
}

.mark-special__rek {
    margin-top: 36px;
    font-size: x-large;
    color: #444444;
    font-weight: 400;
}

.mark-special__rek span {
    display: block;
}

.mark-special__mr {
    margin-top: 36px;
    font-size: x-large;
    color: #444444;
    font-weight: 400;
}

.mark-wrap__jenis {
    margin-top: 126px;
    font-size: x-large;
    color: #444444;
    font-weight: 400;
}

.mark-wrap__jenis h5 {
    padding-bottom: 5px;
}

/* Servis seris stayle */
.servis-wrap {
    padding-top: 40px;
}

.table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;

}

.row {
    display: flex;
    flex-direction: row;
    font-size: x-large;
}

.top {
    flex: 1;
    padding: 10px;
    margin-right: 5px;
    margin-top: 3px;
    background-color: #000000;
    color: #FFF;
    font-weight: bold;
    font-size: 28px;
    text-align: center;

}

.topp {
    flex: 1;
    padding: 10px;
    margin-right: 5px;
    background-color: #EBEBEB;
    color: #000000;
    font-weight: bold;
}

.centerr {
    flex: 2.5;
    padding: 10px;
    margin-right: 5px;
    background-color: #EBEBEB;
    color: #000000;
    font-weight: bold;
}

.center {
    flex: 2.5;
    padding: 10px;
    margin-right: 5px;
    margin-top: 3px;
    background-color: #000000;
    color: #FFF;
    font-weight: bold;
    font-size: 28px;
    text-align: center;


}

.bottnn span {
    color: red;
}

.bottnn {
    flex: 1;
    padding: 10px;
    background-color: #EBEBEB;
    color: #000000;
    font-weight: bold;
    text-align: right;
}

.bottn {
    flex: 1;
    padding: 10px;
    margin-top: 3px;
    background-color: #000000;
    color: #FFF;
    font-weight: bold;
    font-size: 28px;
    text-align: center;

}

/* Precaution seris stayle */
.prec-wrap {
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
}

.prec-left__title h1 {
    font-weight: bold;
    font-size: xx-large;
    color: #4B4B4B;
    margin-top: 80px;
    margin-bottom: 20px;
}

.prec-left__setin h3 {
    font-weight: bold;
    color: #4B4B4B;
    font-size: x-large;
    margin-bottom: 5px;


}

.prec-left__setin span {
    display: block;
    color: #4B4B4B;
    font-size: large;


}

.prec-left__interior h3 {
    font-weight: bold;
    color: #4B4B4B;
    font-size: x-large;
    margin-bottom: 5px;
    margin-top: 5px;
}

.prec-left__interior span {
    display: block;
    color: #4B4B4B;
    font-size: large;
}

.prec-left__vips h3 {
    font-weight: bold;
    color: #4B4B4B;
    font-size: x-large;
    margin-bottom: 5px;
    margin-top: 5px;
}

.prec-left__vips span {
    display: block;
    color: #4B4B4B;
    font-size: large;
}

.prec-left__bank h3 {
    font-weight: bold;
    color: #4B4B4B;
    font-size: x-large;
    margin-bottom: 5px;
    margin-top: 40px;
}

.prec-left__bank h5 {
    display: block;
    color: #4B4B4B;
    font-size: large;
    font-weight: 500;
}


.rec-wrap__right {
    margin-top: 50px;
}

.table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}

.row {
    display: flex;
    flex-direction: row;
}


.one {
    flex: 1;
    padding: 8px;
    margin-right: 4px;
    background-color: #000000;
    color: #Fff;
    margin-top: 3px;
    font-weight: bold;
    text-align: right;
    font-size: xx-large;
}

.cell {
    flex: 1;
    border: 1px solid black;
    padding: 10px;
    margin-top: 3px;
    background-color: #000000;
    color: #Fff;
    font-weight: bold;
    text-align: right;
    font-size: xx-large;

}

.rec-wrap__title h1 {
    margin-top: 30px;
    font-size: x-large;
    text-align: center;
    color: #FD5E14;
    text-decoration: underline;
    font-weight: 900;
    margin-left: 189px;
}

.rec-wrap__paid h4 {
    font-size: x-large;
    font-weight: bolder;
    margin-top: 15px;
    text-align: center;
    color: #FD5E14;
    margin-left: 200px;
}

.rec-wrap__on p {
    color: #FD5E14;
    text-align: center;
    margin-top: 50px;
    font-weight: 500;
    margin-left: 220px;
}

.rec-wrap__on a {
    color: #FD5E14;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 210px;
}

.rec-wrap__padid h1 {
    font-size: 60px;
    color: #DC1112;
    text-align: center;
    border: 3px solid red;
}

.rec-wrap__padid img {
    margin-top: 20px;
    margin-left: 190px;
}

/* Footer seris */
.footer-wrap__img img {
    width: 1160px;
}

.footer-wrap__botton {
    display: flex;
    justify-content: space-between;
}

.footer-wrap__thank h5 {
    font-size: 18px;
}

.footer-wrap__thank span {
    color: #FD5E14;
    font-size: 24px;
}

.footer-wrap__com a {
    color: #000000;
    font-weight: bold;
}

.footer-wrap__com span {
    margin-top: 6px;
    display: block;
    text-align: right;
    color: #FD5E14;
    font-weight: bold;
}